<!-- Creator -->
<ion-view view-title="(1) Project Creator: Name">
<ion-content has-header="true" padding="true">

   <div class="card col col-center home")>
        <label class="item item-input">
            <span class="input-label">Project Name</span>
            <input type="text" ng-model="vm.project.name">
        </label>
   </div>
   
   <div class="bar bar-footer row">
       <button class="button icon button-calm" ng-click="vm.next()"> Next </button>
   </div>
   
</ion-content>
</ion-view>