<ion-view view-title="Please confirm this is your train">
    <!-- <ui-thumbnail src="train.toc.logoImageUrl" opts="{height: 32}"></ui-thumbnail> -->
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="vm.searchTerm" ng-change="vm.onSearchTermChange()" ng-model-options="{debounce: 500}" />
            <div ng-show="vm.loading">
                <ion-spinner />
            </div>

        </label>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="activity in vm.journey.activities">
                <div class="row">
                    <div class="col">
                        <h2>{{activity.time}}</h2>
                    </div>
                    <div class="col">
                        <h2>{{activity.type}}</h2>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <h2>At:</h2>
                        
                    </div>
                    <div class="col">
                        <h4>{{activity.location.locationName}}</h4>
                    </div>
                </div>


            </ion-item>
        </ion-list>
    </ion-content>


        <div class="bar bar-footer row">
        <div class="button-bar">
            <button class="button button-calm button-block" ng-click="vm.onPrev()">Previous
            </button>
            <button class="button icon button-calm button-block" ng-disabled="!(vm.abort_state.length > 0)" ng-click="vm.onCancel()">Cancel
            </button>
            <button class="button icon button-calm button-block" ng-disabled="!(vm.journey.activities.length > 0)" ng-click="vm.onNext()">Next
            </button>
        </div>
    </div>



</ion-view>