<!-- Editor -->
<ion-view view-title="Editor: 5-Preview">
<ion-content has-header="true" padding="true">
    
   <p> Name: {{vm.edittedTemplate.name}} <hr />
   
   <p> Attributes:-
   
   <p ng-repeat="attribute in vm.edittedTemplate.attributes"> 
       <i class="icon ion-star" ng-hide="attribute.desc == ''"></i>
       {{attribute.name}}
   
   <p><hr /> Style: {{vm.edittedTemplate.style}} 
   
   <div class="bar bar-footer row">
       <button class="button icon button-calm" ng-click="vm.previous()">Previous</button>
       <button class="button icon button-calm" ng-click="vm.finish()">Finish</button>
   </div>
   
</ion-content>
</ion-view>