<!-- Creator -->
<ion-view view-title="Creator: 2-AddAttribute">
<ion-content has-header="true" padding="true">
    
   <label class="item item-input">
       <input type="text" ng-model="vm.attribute.name">
   </label>
   
   <button class="button button-calm button-block"
   ng-disabled="(vm.attribute == '') ||
                (vm.attribute == null)"
   ng-click="vm.addAttribute()">+</button>
   
   <hr />
   <label> Attributes:- </label>
   
   <ion-list>
       <ion-item ng-repeat="attribute in vm.attributeList">
           {{attribute.name}}<button style="float: right; color: red;" ng-click="vm.cullAttributeByName(attribute)">&times</button>
        </ion-item>
    </ion-list>
   
   <div class="bar bar-footer row">
       <button class="button icon button-calm" ng-click="vm.previous()">Previous</button>
       <button class="button icon button-calm" ng-click="vm.next()"> Next </button>
   </div>
   
</ion-content>
</ion-view>