<!-- Creator -->
<ion-view view-title="Creator: 1-Name">
<ion-content has-header="true" padding="true">
    
   <!-- HELLO 
   
   <label class="item item-input">
       <span class="input-label">Template Name</span>
       <input type="text" ng-model="vm.newTemplateName">
   </label>
   -->
   <div class="card col col-center home")>
        <label class="item item-input">
            <span class="input-label">Template Name</span>
            <input type="text" ng-model="vm.name">
        </label>
   </div>
   
   <div class="bar bar-footer row">
       <button class="button icon button-calm" ng-click="vm.next()"> Next </button>
   </div>
   
</ion-content>
</ion-view>